.vscode/**
.vscode-test/**
.github/**
.temp/**
src/**
out/**
test/**
scripts/**
docs/**
dev-area/**
node_modules/**
*.vsix
rlt_mod_icon.svg
rlt_icon.png
.gitignore
.yarnrc
.mocharc.json
tsconfig.json
DISCORD_POST.md
RELEASE_NOTES_*.md
**/*.map
**/.eslintrc.json
