.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
.github/**
scripts/**
RELEASE_NOTES_CLASS_PROVIDER.md
DISCORD_POST.md
